<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><a href="/blog">Home</a></div>
    {% if msg %}
    <p>{{msg}}<a href="/loginpage"> Login</a></p>
    {% else %}
    <form action="" method="post">
        {% csrf_token %}    
        <div>
            <label for="for_comment">Comment </label>
            <input type="text" name="CommentInput" placeholder="Add New Comment">
            <a href="/blos/blogdetails/{{Id}}"><input type="submit" value="Post" name="post" ></a>
        </div>
    </form>
    {% endif %}
</body>
</html>